autom4te.cache/
configure
autoscan.log
COPYING
INSTALL
Makefile
Makefile.in
aclocal.m4
config.log
config.status
install-sh
missing
build-aux/

t/Makefile
t/Makefile.in
t/*.log
t/*.trs
t/test-results/
